body {
  background-color: grey;
  display: block;
  margin: auto;
  text-align: center;
}

table{
  background-color: white;
}

td{
  border: 1px solid black;
  font-size: 24pt;
}

p{
  font-size: 12pt;
}

h1{
  font-size: 100pt;
}

h2{
  font-size: 60pt;
  color: blue;
}

h3{
  font-size: 24pt;
}

h4{
  font-size: 14pt;
}

div{
  background-color: lightblue;
}

a{
  color: black;
}

embed{
  width: 850px;
  height: 1150px;
}

#logo{
  width: 150px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#menu{
  background-color: lightgrey;
  border: 1px solid black;
  position: absolute;
  right: 15px;
  top: 5px;
  padding: 0px;
  border-spacing: 0px;
  width: 45%;
  height: 5%;
}

#header{
  width: 1500px;
  height: 800px;
  background-image:url('Background.gif');
  padding: 0px;
  border-spacing: 0px;
}

#bio{
  width: 75%;
}

#me{
  width: 850px;
  height: 900px;
}

#lightblue{
   background-color: lightblue;
}

#indianred{
  background-color: indianred;
}

#lightgrey{
  background-color: lightgrey;
}

#pic1{
  width: 500px;
  height: 300px;
}

#pic2{
  width: 550px;
  height: 300px;
}

#pic3{
  width: 500px;
  height: 350px;
}

#pic4{
  width: 500px;
  height: 400px;
}
