table {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  width: 30%;
}

td {
  height: 20px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#left {
  border-left: none;
  width: 65px;
}

#odd {
  background-color: lightgrey;
  width: 100px;
}

#odd:hover{
  background-color: red;
}

#even:hover{
  background-color: blue;
}
